/*
.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}
*/


.task-done {
    text-decoration: line-through;
    opacity: 0.5;

}

.task {
    font-weight: bold;
    display: inline-block;

}

.btn-active {
    color: white;
    background-color: hotpink;
    border: 2px solid hotpink;
    border-radius: 3px;

}


.input-error {
    border: 3px solid red;
    outline: none

}

.addItemForm {
    display: flex;
    flex-direction: row;

    border: 2px solid hotpink;
    border-radius: 3px;
    padding: 10px;
    height: fit-content;
}

.tasks-list-item {
    display: flex;
    justify-content: space-between;
}


.tasks-list {
    padding: 0px;

}


